<ion-header>
  <ion-toolbar>
    <ion-title>🕐 Watch Later</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (movie of watchLater; track movie.id) {
      <ion-item (click)="openDetails(movie)" button="true">
        <ion-thumbnail slot="start">
          <ion-img [src]="movie.poster_path"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ movie.original_title }}</h2>
          <p>⭐ {{ movie.vote_average }}</p>
        </ion-label>
        <ion-button slot="end" fill="clear" color="danger"
          (click)="$event.stopPropagation(); remove(movie.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    } @empty {
      <ion-item>
        <ion-label>Nothing added yet. Browse movies to add some!</ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>