<ion-header>
  <ion-toolbar>
    <ion-title>Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    @for (movie of movies; track movie.id) {
      <ion-item (click)="openDetails(movie)" button="true">
        <ion-thumbnail slot="start">
          <ion-img [src]="movie.poster"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h2>{{ movie.title }}</h2>
          <p>{{ movie.release_date }}</p>
          <p>⭐ {{ movie.vote_average }}</p>
        </ion-label>
      </ion-item>
    }
  </ion-list>
</ion-content>